<!DOCTYPE html>
<html>
  <head>
    <title>Reserveme</title>
    <%= csrf_meta_tags %>

       
  </head>

  <body>
<% if !current_owner %>
<div class="sign-in-out" id="sign-in">
	<%= link_to "Sign In", new_owner_session_path %>
	<% else %>
	</div>
	<div class="sign-in-out" id="sign-out">
	<%= link_to "sign-out", destroy_owner_session_path, method: :delete %>
	<% end %>
	</div>
    <%= yield %>

  </body>
</html>
